[submodule "vendor/notorm"]
	path = vendor/notorm
	url = https://github.com/vrana/notorm.git
[submodule "vendor/Twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
